myenv/
.idea/
scripts/__pycache__/
scripts/128/
scripts/png_model/
test_/
Output_images_10_minmax/
Output_images_10/
model_npz_image/
testing/
training_10/
128/
distribuzioni/npz_image_folder/
npz_image_folder/
training_pdf/
*.pt
